## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

# Introduction

- This analysis is meant to...

In [1]:
# Your code here - remember to use markdown cells for comments as well!

In [2]:
import os
os.listdir('zippedData/')

['imdb.title.crew.csv.gz',
 'tmdb.movies.csv.gz',
 'imdb.title.akas.csv.gz',
 'imdb.title.ratings.csv.gz',
 'imdb.name.basics.csv.gz',
 'rt.reviews.tsv.gz',
 'imdb.title.basics.csv.gz',
 'rt.movie_info.tsv.gz',
 'tn.movie_budgets.csv.gz',
 'bom.movie_gross.csv.gz',
 'imdb.title.principals.csv.gz']

In [3]:
import pandas as pd

In [4]:
import glob 
file_list = glob.glob('zippedData/*gz')
file_list

['zippedData/imdb.title.crew.csv.gz',
 'zippedData/tmdb.movies.csv.gz',
 'zippedData/imdb.title.akas.csv.gz',
 'zippedData/imdb.title.ratings.csv.gz',
 'zippedData/imdb.name.basics.csv.gz',
 'zippedData/rt.reviews.tsv.gz',
 'zippedData/imdb.title.basics.csv.gz',
 'zippedData/rt.movie_info.tsv.gz',
 'zippedData/tn.movie_budgets.csv.gz',
 'zippedData/bom.movie_gross.csv.gz',
 'zippedData/imdb.title.principals.csv.gz']

In [5]:
TABLES = {}
for file in file_list:
    
    try:
        df = pd.read_csv(file)
    except:
        df = pd.read_csv(file,sep='\t',encoding='latin-1')
    
    fname = file.split('/')[-1]
    table_name = '_'.join(fname.split('.')[:-2])
    
    display(df.head().style.set_caption(table_name))
    TABLES[table_name] = df

In [6]:
keys = list(TABLES.keys())
keys

['imdb_title_crew',
 'tmdb_movies',
 'imdb_title_akas',
 'imdb_title_ratings',
 'imdb_name_basics',
 'rt_reviews',
 'imdb_title_basics',
 'rt_movie_info',
 'tn_movie_budgets',
 'bom_movie_gross',
 'imdb_title_principals']